@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.container_button-try-again {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perdiste {
    background-color: rgba(137, 73, 73, 0.90);
}

.ganaste {
    background-color: rgba(136, 137, 73, 0.90);
}

.empate {
    background-color: rgba(110, 109, 110, 0.9);
}

.container-result-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.img-container {
    z-index: 0;
}

.text-result {
    margin: 0;
    color: white;
    position: absolute;
    top: 110px;
    text-align: center;
    right: 40px;
    left: 60px;
    z-index: 1;
    font-family: Odibee Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.img-result {
    margin: 0 auto;
    margin-left: 10px;
    width: 260px;
}

@media (min-width:500px) {
    .img-result {
        width: 300px;

    }
}

.score {
    border: solid black 9px;
    width: 100%;
    max-width: 500px;
    color: #000;
    text-align: center;
    font-family: Odibee Sans;
    font-size: 20px;
    background-color: #fff;
}

@media (min-width:500px) {
    .score {
        font-size: 25px;
    }

}