@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.home-page-container {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-title {
    margin: 0 auto;
    margin-top: 20px;
}

.title span {
    color: #91CCAF;
}

.title {
    margin: 0;
    color: #009048;
    font-family: 'Bree Serif', serif;
    font-size: 80px;
    font-style: normal;
    line-height: 70px;
}

.container-hands {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    margin-top: 60px;
}

@media (min-width:400px) {
    .container-hands {
        margin-top: 30px;
    }
}

.container-btn {
    margin-top: 120px;
    text-align: center;
}

@media (min-width:400px) {
    .container-btn {
        margin-top: 100px;
    }
}