.container-game,
.container-hands {
    display: flex;
    flex-direction: column;
}


.container-game {
    position: relative;
    height: 100%;
    border: solid 5px rgb(206, 196, 196);
}

.container-timer {
    position: absolute;
    top: 50px;
    right: 50px;
    left: 50px;
    border: solid 9px yellow;
}


.container-hands {
    position: absolute;
    top: 80%;
    right: 0px;
    left: 0px;
    bottom: 0;
    border: solid 9px rgb(252, 47, 255);
    text-align: center;
}