.container-game,
.container-hands {
    display: flex;
    flex-direction: column;
}


.container-game {
    height: 100%;
    min-height: 100vh;
    justify-content: end;
}

.game-timer {
    position: absolute;
    top: 150px;
    right: 50px;
    left: 50px;
}


.game-hands {
    text-align: center;
    inset: 80px 0 0;
    flex-direction: column;
    justify-content: flex-end;
}

.bye {
    display: none;
}